airbyte==0.12.0
airbyte-api==0.49.4
airbyte-cdk==1.3.1
airbyte_protocol_models==0.11.0
altair==5.3.0
anyio==4.2.0
appnope==0.1.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asn1crypto==1.5.1
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
Babel==2.14.0
backoff==2.2.1
beautifulsoup4==4.12.2
bleach==6.1.0
blinker==1.8.2
bracex==2.4
cachetools==5.3.3
cattrs==23.2.3
certifi @ file:///private/tmp/python-certifi-20231211-18102-76ipel/certifi-2023.11.17
cffi @ file:///private/tmp/cffi-20231211-40239-j25k6o/cffi-1.16.0
charset-normalizer==3.3.2
click==8.1.7
comm==0.2.0
cryptography==42.0.8
dataclasses-json==0.6.7
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib @ file:///private/tmp/python-distlib-20231212-4938-trhlvy/distlib-0.3.8
docutils @ file:///private/tmp/docutils-20231211-36728-9mhbst/docutils-0.20.1
dpath==2.1.6
duckdb==1.0.0
duckdb_engine==0.13.0
executing==2.0.1
fastjsonschema==2.19.1
filelock @ file:///private/tmp/python-filelock-20231112-5622-k62fq8/filelock-3.13.1/dist/filelock-3.13.1-py3-none-any.whl#sha256=57dbda9b35157b05fb3e58ee91448612eb674172fab98ee235ccb0b5bee19a1c
fqdn==1.5.1
genson==1.2.2
gitdb==4.0.11
GitPython==3.1.43
google-api-core==2.19.0
google-auth==2.30.0
google-auth-oauthlib==1.2.0
google-cloud-bigquery==3.24.0
google-cloud-bigquery-storage==2.25.0
google-cloud-core==2.4.1
google-cloud-secret-manager==2.20.0
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.1
grpc-google-iam-v1==0.13.0
grpcio==1.64.1
grpcio-status==1.62.2
gspread==5.12.4
gspread-dataframe==3.3.1
gspread-formatting==1.1.2
gspread-pandas==3.3.0
httplib2==0.22.0
idna==3.6
ipykernel==6.27.0
ipython==8.17.2
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.2
json5==0.9.14
jsonpatch==1.33
jsonpath-python==1.0.6
jsonpointer==2.4
jsonref==0.2
jsonschema==3.2.0
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.12.2
jupyter_server_terminals==0.5.1
jupyterlab==4.0.10
jupyterlab-widgets==3.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
langchain-core==0.1.42
langsmith==0.1.75
markdown-it-py==3.0.0
MarkupSafe==2.1.3
marshmallow==3.21.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.14.0
nbformat==5.9.2
nest-asyncio==1.5.8
notebook==7.0.6
notebook_shim==0.2.3
numpy @ file:///private/tmp/numpy-20240206-5894-1wazl8/numpy-1.26.4
oauth2client==4.1.3
oauthlib==3.2.2
orjson==3.9.15
overrides==7.4.0
packaging @ file:///private/tmp/python-packaging-20231211-10905-adsfgp/packaging-23.2
pandas==1.5.3
pandocfilters==1.5.0
parso==0.8.3
pendulum==2.1.2
pexpect==4.8.0
pillow==10.3.0
platformdirs==4.0.0
plotly==5.22.0
prometheus-client==0.19.0
prompt-toolkit==3.0.41
proto-plus==1.23.0
protobuf==4.25.2
psutil==5.9.7
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.1.0
pyasn1==0.6.0
pyasn1_modules==0.4.0
pycparser @ file:///private/tmp/pycparser-20231211-25057-cypg40/pycparser-2.21
pydantic==1.10.15
pydeck==0.9.1
Pygments==2.17.2
PyJWT==2.8.0
pyOpenSSL==24.1.0
pyparsing==3.1.2
pyrate-limiter==3.1.1
pyrsistent==0.20.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-ulid==2.6.0
pytz==2024.1
pytzdata==2020.1
PyYAML==6.0.1
pyzmq==25.1.1
qtconsole==5.5.1
QtPy==2.4.1
referencing==0.32.1
requests==2.31.0
requests-cache==1.2.0
requests-oauthlib==2.0.0
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.16.2
rsa==4.9
Send2Trash==1.8.2
six==1.16.0
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.10.1
snowflake-sqlalchemy==1.5.3
sortedcontainers==2.4.0
soupsieve==2.5
sql_metadata==2.11.0
SQLAlchemy==1.4.51
sqlalchemy-bigquery==1.9.0
sqlparse==0.5.0
st-gsheets-connection @ git+https://github.com/streamlit/gsheets-connection.git@6d50cc196602cac909ffc9a47668b525ada7ccf7
stack-data==0.6.3
streamlit==1.35.0
tenacity==8.3.0
terminado==0.18.0
tinycss2==1.2.1
toml==0.10.2
tomlkit==0.12.5
toolz==0.12.1
tornado==6.3.3
traitlets==5.13.0
types-python-dateutil==2.8.19.20240106
types-PyYAML==6.0.12.20240311
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.4
ulid==1.1
uri-template==1.3.0
url-normalize==1.4.3
urllib3==2.1.0
validators==0.28.3
watchdog==4.0.1
wcmatch==8.4
wcwidth==0.2.12
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
widgetsnbextension==4.0.9
wrapt==1.16.0
